ul.a {
  list-style-type: circle;
}
ul.b {
  list-style-type: square;
}
ol.c {
  list-style-type: upper-roman;
}
ol.d {
  list-style-type: lower-alpha;
}
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}

.header {
  position: initial;
  background-color: #e2dedeea;
  text-align: center;
  padding: 10px;
}

h1{
  color: black;
}
h2{
  color: black;
  text-decoration: underline;
  line-height: 2;
 }
 h3{
  line-height: 2;
  font-family: 'Roboto Bold', 'Arial', sans-serif;
  font-size: 22px;
 }
p{ 
  line-height: 1.8;
  font-size: 20px;
}

img {
  border-radius: 20%;
  display: block;
  margin-right:auto;
 width: 100%; 
}
.left{
  position: initial;
  color: black;
  padding: 30px;
}
.right{
  position: initial;
  background-color: rgb(213, 219, 219);
  padding: 30px;
}
.main {
  width: 100%;
  max-width: 1000px;
  min-height: 100px;
  background-color: rgb(218, 216, 213);
  margin: 0px;
  display: grid;
  grid-template-columns: 2fr 4fr;
}
body {
  background-color: rgb(223, 224, 225);
  display: flex;
  align-items: center;
  min-height:100vh;
  margin:0;
  padding:0;
  flex-direction: column;
  justify-content: space-between;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer{
  background-color: #e2dedeea;
  text-align: center;
  padding: 10px; 
}
.rss {
  width: 121px;
  height: 45px;
  background-image: url("./assets/img/i.ico");
  background-size: contain;
  background-repeat: no-repeat;
}


.footer-content {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#CV{
  text-decoration: none;
}
#github {
  display: block;
  text-decoration: none;
  width: 70px;
  animation-duration: 3s;
 
}

#github:hover {
  color: rgb(23, 22, 22);

}
#time {
  display: block;
}
#time{
  display:block;
width: 100px;
}

#rs-logo {
  display: block;
  width: 50px;
  opacity: 70%;
  transition: opacity 0.3s;
}

#rs-logo:hover {
  
  opacity: 100%;
}
.p1 {
  white-space: nowrap;
}


.header-content,
.main-content,
.footer-content {
  max-width: 1215px;
  margin: 0 auto;
  padding: 0 10px;
}

.menu-wrapper {
  display: flex;
  justify-content: space-between;
}

.menu-wrapper h1 {
  font-size: 20px;
  margin: 0;
}

.menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.list-item a {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  cursor: pointer;
  margin-right: 40px;
}
.list-item a:hover {
  opacity: 0.6;
}

.list-item:last-child a {
  margin-right: 0;
}

.Skills h2,
.About h2,
.Education h2,
.Languages h2,
.Contact h2,
.code h2,
.project h2 {
  font-family: 'Roboto Bold', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 22px;
  text-transform: uppercase;
  color: #0c0102;
  letter-spacing: 4px;
  margin-top: 25px;
  margin-bottom: 25px;
}
pre{
  font-size: 16px; 
}